<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.grzechocinski.android.stopwatch"
          android:versionCode="1"
          android:versionName="${project.version}">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_app"
                 	android:debuggable="true">

		<activity android:name=".activity.StopWatchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".activity.ResultsListActivity" android:label="@string/activity_title_results"/>
		<activity android:name=".activity.StopwatchPreferenceActivity" android:label="@string/activity_title_preferences"/>
		<service android:name=".service.StopwatchService"/>

		<provider android:name=".provider.ResultsContentProvider"
				  android:authorities="net.grzechocinski.android.stopwatch.provider.ResultsProvider"/>
	</application>

    <uses-sdk android:minSdkVersion="7"/>

</manifest>
